
*.ipch
*.db
*.pdb
*.obj
*.log
Conversores/DAV_AVI/.vs/DSDAVAVI/v16/.suo
*.idb
*.lastbuildstate
*.tlog
*.recipe
Conversores/DAV_AVI/Debug/DSDAVAVI.vcxproj.FileListAbsolute.txt
Conversores/DAV_AVI/DSDAVAVI.zip
Conversores/DAV_AVI/x64/Debug/DSDAVAVI.exe
Conversores/DAV_AVI/x64/Debug/DSDAVAVI.ilk
Conversores/DAV_AVI/x64/Debug/DSDAVAVI.vcxproj.FileListAbsolute.txt
Conversores/DAV_AVI/x64/Release/DSDAVAVI.exe
Conversores/DAV_AVI/x64/Release/DSDAVAVI.iobj
Conversores/DAV_AVI/x64/Release/DSDAVAVI.ipdb
Conversores/DAV_AVI/x64/Release/DSDAVAVI.vcxproj.FileListAbsolute.txt
Conversores/DAV_AVI/x64/Release/Pacote/dhplay.dll
Conversores/DAV_AVI/x64/Release/Pacote/DSDAVAVI.exe
Conversores/DAV_AVI/x64/Release/Pacote/DSDAVAVI.zip
Conversores/DAV_AVI/x64/Release/Pacote/fisheye.dll
Conversores/DAV_AVI/x64/Release/Pacote/HWDec.dll
Conversores/DAV_AVI/x64/Release/Pacote/Infra.dll
Conversores/DAV_AVI/x64/Release/Pacote/IvsDrawer.dll
Conversores/DAV_AVI/x64/Release/Pacote/WinRender.dll
