
*.ipch
*.db
*.pdb
*.obj
*.log
Conversores/DAV_AVI/.vs/DSDAVAVI/v16/.suo
*.idb
*.lastbuildstate
*.tlog
*.recipe
Conversores/DAV_AVI/Debug/DSDAVAVI.vcxproj.FileListAbsolute.txt
Conversores/DAV_AVI/DSDAVAVI.zip
Conversores/DAV_AVI/x64/Debug/DSDAVAVI.exe
Conversores/DAV_AVI/x64/Debug/DSDAVAVI.ilk
Conversores/DAV_AVI/x64/Debug/DSDAVAVI.vcxproj.FileListAbsolute.txt
Conversores/DAV_AVI/x64/Release/DSDAVAVI.exe
Conversores/DAV_AVI/x64/Release/DSDAVAVI.iobj
Conversores/DAV_AVI/x64/Release/DSDAVAVI.ipdb
Conversores/DAV_AVI/x64/Release/DSDAVAVI.vcxproj.FileListAbsolute.txt
Conversores/DAV_AVI/x64/Release/Pacote/dhplay.dll
Conversores/DAV_AVI/x64/Release/Pacote/DSDAVAVI.exe
Conversores/DAV_AVI/x64/Release/Pacote/DSDAVAVI.zip
Conversores/DAV_AVI/x64/Release/Pacote/fisheye.dll
Conversores/DAV_AVI/x64/Release/Pacote/HWDec.dll
Conversores/DAV_AVI/x64/Release/Pacote/Infra.dll
Conversores/DAV_AVI/x64/Release/Pacote/IvsDrawer.dll
Conversores/DAV_AVI/x64/Release/Pacote/WinRender.dll
Conversores/H264_AVI/.vs/DSH264AVI/v16/.suo
*.ilk
Conversores/H264_AVI/Debug/DSH264AVI.exe
Conversores/H264_AVI/Debug/DSH264AVI.vcxproj.FileListAbsolute.txt
Conversores/H264_AVI/DSH264AVI.zip
*.h264
*.avi
Conversores/H264_AVI/Release/Pub/StreamReader.dll
Conversores/H264_AVI/Release/Pub/HW_H265Decoder.dll
Conversores/H264_AVI/Release/Pub/HW_H265dec_Win32D.dll
Conversores/H264_AVI/Release/Pub/hi_h264dec_v.dll
Conversores/H264_AVI/Release/Pub/H264Play.dll
Conversores/H264_AVI/Release/Pub/DSH264AVI.zip
Conversores/H264_AVI/Release/Pub/DSH264AVI.exe
Conversores/H264_AVI/Release/DSH264AVI.vcxproj.FileListAbsolute.txt
Conversores/H264_AVI/Release/DSH264AVI.ipdb
Conversores/H264_AVI/Release/DSH264AVI.iobj
Conversores/H264_AVI/Release/DSH264AVI.exe
Conversores/DAV_AVI/log.txt
*.dav
Conversores/DAV_AVI/x64/Release/Pacote/DVRExtractor - DHFS DAV para AVI.zip
